@charset "UTF-8";
/* =====================
  common layouts
===================== */
/*  global
------------------------*/
html {
  height: 100%; }
  @media screen and (min-width: 480px) {
    html {
      font: 400 62.5% "Noto Sans Japanese", sans-serif;
      color: #333; } }
  @media screen and (max-width: 479px) {
    html {
      font: 400 56.25% "Noto Sans Japanese", sans-serif;
      color: #333; } }

html,
body {
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

::-moz-selection {
  color: white;
  background-color: #19b04b; }

::selection {
  color: white;
  background-color: #19b04b; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

/*  clear fix
------------------------*/
.cf:after {
  content: "";
  display: block;
  clear: both; }

/*  responsive
------------------------*/
[data-lg] {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  @media screen and (max-width: 999px) {
    [data-lg] {
      padding: 0 15px; } }

[data-md] {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  @media screen and (max-width: 767px) {
    [data-md] {
      padding: 0 15px; } }

[data-sm] {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  @media screen and (max-width: 479px) {
    [data-sm] {
      padding: 0 15px; } }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/*  grid layout
------------------------*/
[data-grid] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  [data-grid] [data-grid-col][data-grid-col="1/2"] {
    width: 50%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/2"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/3"] {
    width: 33.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/3"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/3"] {
    width: 66.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/3"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/4"] {
    width: 25%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/4"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/4"] {
    width: 50%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/4"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/4"] {
    width: 75%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/4"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/5"] {
    width: 20%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/5"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/5"] {
    width: 40%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/5"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/5"] {
    width: 60%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/5"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/5"] {
    width: 80%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/5"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/6"] {
    width: 16.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/6"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/6"] {
    width: 33.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/6"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/6"] {
    width: 50%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/6"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/6"] {
    width: 66.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/6"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="5/6"] {
    width: 83.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="5/6"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/7"] {
    width: 14.2857142857%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/7"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/7"] {
    width: 28.5714285714%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/7"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/7"] {
    width: 42.8571428571%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/7"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/7"] {
    width: 57.1428571429%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/7"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="5/7"] {
    width: 71.4285714286%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="5/7"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="6/7"] {
    width: 85.7142857143%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="6/7"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/8"] {
    width: 12.5%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/8"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/8"] {
    width: 25%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/8"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/8"] {
    width: 37.5%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/8"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/8"] {
    width: 50%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/8"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="5/8"] {
    width: 62.5%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="5/8"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="6/8"] {
    width: 75%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="6/8"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="7/8"] {
    width: 87.5%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="7/8"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/9"] {
    width: 11.1111111111%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/9"] {
    width: 22.2222222222%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/9"] {
    width: 33.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/9"] {
    width: 44.4444444444%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="5/9"] {
    width: 55.5555555556%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="5/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="6/9"] {
    width: 66.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="6/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="7/9"] {
    width: 77.7777777778%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="7/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="8/9"] {
    width: 88.8888888889%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="8/9"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/10"] {
    width: 10%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/10"] {
    width: 20%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/10"] {
    width: 30%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/10"] {
    width: 40%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="5/10"] {
    width: 50%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="5/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="6/10"] {
    width: 60%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="6/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="7/10"] {
    width: 70%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="7/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="8/10"] {
    width: 80%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="8/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="9/10"] {
    width: 90%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="9/10"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/11"] {
    width: 9.0909090909%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/11"] {
    width: 18.1818181818%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/11"] {
    width: 27.2727272727%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/11"] {
    width: 36.3636363636%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="5/11"] {
    width: 45.4545454545%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="5/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="6/11"] {
    width: 54.5454545455%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="6/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="7/11"] {
    width: 63.6363636364%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="7/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="8/11"] {
    width: 72.7272727273%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="8/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="9/11"] {
    width: 81.8181818182%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="9/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="10/11"] {
    width: 90.9090909091%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="10/11"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="1/12"] {
    width: 8.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="1/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="2/12"] {
    width: 16.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="2/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="3/12"] {
    width: 25%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="3/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="4/12"] {
    width: 33.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="4/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="5/12"] {
    width: 41.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="5/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="6/12"] {
    width: 50%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="6/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="7/12"] {
    width: 58.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="7/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="8/12"] {
    width: 66.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="8/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="9/12"] {
    width: 75%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="9/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="10/12"] {
    width: 83.3333333333%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="10/12"] {
        width: 100%; } }
  [data-grid] [data-grid-col][data-grid-col="11/12"] {
    width: 91.6666666667%; }
    @media screen and (max-width: 767px) {
      [data-grid] [data-grid-col][data-grid-col="11/12"] {
        width: 100%; } }
  @media screen and (max-width: 767px) {
    [data-grid] {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

/*  table layout
 ------------------------*/
[data-table] {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center; }
  [data-table] > * {
    display: table-cell;
    vertical-align: middle; }

/*  box layout
------------------------*/
[data-box] {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: no-repeat center center;
  background-size: cover; }
  [data-box][data-box="1:1"]:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* 1:1 */ }
  [data-box][data-box="2:1"]:before {
    content: "";
    display: block;
    padding-top: 50%;
    /* 2:1 */ }
  [data-box][data-box="1:2"]:before {
    content: "";
    display: block;
    padding-top: 200%;
    /* 1:2 */ }
  [data-box][data-box="4:3"]:before {
    content: "";
    display: block;
    padding-top: 75%;
    /* 4:3 */ }
  [data-box][data-box="16:9"]:before {
    content: "";
    display: block;
    padding-top: 56.25%;
    /* 16:9 */ }
  [data-box][data-box="8:5"]:before {
    content: "";
    display: block;
    padding-top: 62.5%;
    /* 8:5 ≒ 黄金比 */ }
  [data-box][data-box="7:5"]:before {
    content: "";
    display: block;
    padding-top: 70%;
    /* 7:5 ≒ 白銀比 */ }
  [data-box] .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* =====================
  common styles
===================== */
.global-header {
  padding: 20px 0;
  background: #ddd; }

.global-footer {
  padding: 10px 0;
  background: #333; }
  .global-footer .copyright {
    font: 400 13px/160% "Noto Sans Japanese", sans-serif;
    font: 400 1.3rem/160% "Noto Sans Japanese", sans-serif;
    color: #ddd;
    text-align: center; }

.section-style {
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    .section-style [data-grid-col] {
      padding: 15px; } }
  .section-style [data-grid-col] a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .section-style [data-grid-col] a:hover {
      opacity: 0.70; }
  .section-style .section-ttl {
    font: 400 30px/160% "Noto Sans Japanese", sans-serif;
    font: 400 3rem/160% "Noto Sans Japanese", sans-serif; }
  .section-style .section-txt {
    font: 400 20px/160% "Noto Sans Japanese", sans-serif;
    font: 400 2rem/160% "Noto Sans Japanese", sans-serif;
    font-weight: 100; }

.sub-section {
  margin-bottom: 45px; }

.sub-section-ttl {
  margin-bottom: 15px;
  color: #19b04b;
  font: 400 18px/160% "Noto Sans Japanese", sans-serif;
  font: 400 1.8rem/160% "Noto Sans Japanese", sans-serif;
  line-height: 140%;
  font-weight: 400; }

.v-middle [data-grid] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.fw-100 {
  font-weight: 100 !important; }

.fw-200 {
  font-weight: 200 !important; }

.fw-300 {
  font-weight: 300 !important; }

.fw-400 {
  font-weight: 400 !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-700 {
  font-weight: 700 !important; }

.fw-900 {
  font-weight: 900 !important; }

/* =====================
  details style
===================== */
.details {
  background: white; }
  .details .section-ttl {
    color: #19b04b; }
  .details .plan-detail table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #cdcdcd; }
    .details .plan-detail table th,
    .details .plan-detail table td {
      padding: 1.25em 3em;
      font: 400 15px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.5rem/160% "Noto Sans Japanese", sans-serif;
      letter-spacing: .125em;
      border-bottom: 1px solid #cdcdcd; }
    .details .plan-detail table th {
      width: 40%;
      background: #eaeaea;
      font-weight: 600; }
    @media screen and (max-width: 479px) {
      .details .plan-detail table th,
      .details .plan-detail table td {
        display: block;
        padding: .5em 1em;
        width: calc(100% - 2em); }
      .details .plan-detail table td {
        padding-bottom: 1.5em; } }
  .details .caution ul,
  .details .other ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .details .caution ul li,
    .details .other ul li {
      margin-bottom: .25em;
      position: relative;
      padding-left: 1.25em;
      font: 400 14px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.4rem/160% "Noto Sans Japanese", sans-serif; }
      .details .caution ul li:before,
      .details .other ul li:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        content: "・"; }
  .details .location #side_bar {
    margin-bottom: 15px; }
    .details .location #side_bar a {
      color: #333;
      font: 400 14px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.4rem/160% "Noto Sans Japanese", sans-serif;
      margin-bottom: .25em;
      position: relative;
      padding-left: 1.25em;
      font: 400 14px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.4rem/160% "Noto Sans Japanese", sans-serif;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
      .details .location #side_bar a:hover {
        opacity: 0.70; }
      .details .location #side_bar a:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        content: "\e948";
        font-family: 'icomoon' !important; }
  .details .location #map_canvas {
    width: 100%;
    height: 400px; }
  .details .cancel .cancel-txt {
    font: 400 14px/160% "Noto Sans Japanese", sans-serif;
    font: 400 1.4rem/160% "Noto Sans Japanese", sans-serif; }
  .details .cancel table {
    margin-bottom: 15px;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #cdcdcd; }
    .details .cancel table th,
    .details .cancel table td {
      padding: .75em 2em;
      font: 400 15px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.5rem/160% "Noto Sans Japanese", sans-serif;
      letter-spacing: .125em;
      border-bottom: 1px solid #cdcdcd;
      text-align: center; }
      .details .cancel table th:not(:first-child),
      .details .cancel table td:not(:first-child) {
        border-left: 1px solid #cdcdcd; }
    .details .cancel table th {
      background: #eaeaea;
      font-weight: 600; }
    @media screen and (max-width: 767px) {
      .details .cancel table thead {
        display: block;
        float: left;
        width: calc(100% - 10em); }
      .details .cancel table tbody {
        display: block;
        float: right;
        width: 10em; }
      .details .cancel table tr {
        display: block; }
      .details .cancel table th,
      .details .cancel table td {
        padding: .5em 1.5em;
        display: block; }
        .details .cancel table th:not(:first-child),
        .details .cancel table td:not(:first-child) {
          border-left: none; } }
  .details .cancel ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .details .cancel ul li {
      margin-bottom: .25em;
      position: relative;
      padding-left: 1.25em;
      font: 400 12px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.2rem/160% "Noto Sans Japanese", sans-serif; }
      .details .cancel ul li:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        content: "※"; }
  .details .agency {
    padding: 4%;
    border: 2px solid #19b04b; }
    .details .agency:not(:last-child) {
      margin-bottom: 45px; }
    .details .agency .agency-ttl {
      margin: 0 0 15px;
      color: #19b04b;
      font: 400 18px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.8rem/160% "Noto Sans Japanese", sans-serif;
      line-height: 140%;
      font-weight: 400; }
    .details .agency .agency-txt {
      font: 400 15px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.5rem/160% "Noto Sans Japanese", sans-serif; }
    .details .agency a {
      color: #333; }
    .details .agency.planner ul {
      padding: 0;
      margin: 0; }
      .details .agency.planner ul li {
        display: inline-block; }
        .details .agency.planner ul li a {
          margin: 0 1em .25em 0;
          position: relative;
          font: 400 14px/160% "Noto Sans Japanese", sans-serif;
          font: 400 1.4rem/160% "Noto Sans Japanese", sans-serif;
          -webkit-transition: all .2s ease;
          transition: all .2s ease; }
          .details .agency.planner ul li a:hover {
            opacity: 0.70; }
    .details .agency.condition ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .details .agency.condition ul li {
        margin-bottom: .25em;
        position: relative;
        padding-left: 1.25em;
        font: 400 12px/160% "Noto Sans Japanese", sans-serif;
        font: 400 1.2rem/160% "Noto Sans Japanese", sans-serif; }
        .details .agency.condition ul li:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 1em;
          content: "・"; }

/* =====================
  entry style
===================== */
.entry {
  text-align: center;
  background: white; }
  .entry .mod_form_importance_btn .check p {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    font: 400 20px/160% "Noto Sans Japanese", sans-serif;
    font: 400 2rem/160% "Noto Sans Japanese", sans-serif;
    font-weight: 600; }
  .entry .mod_form_importance_btn .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%; }
  .entry .mod_form_importance_btn .check input[type="checkbox"] + label {
    font-family: 'FontAwesome' !important; }
    .entry .mod_form_importance_btn .check input[type="checkbox"] + label:before {
      margin-right: .25em;
      font-size: 150%;
      vertical-align: top;
      content: "\f111";
      color: #ddd; }
  .entry .mod_form_importance_btn .check input[type="checkbox"]:checked + label:before {
    content: "\f058";
    color: #19b04b;
    background: white; }
  .entry .mod_form_importance_btn .note {
    font: 400 14px/160% "Noto Sans Japanese", sans-serif;
    font: 400 1.4rem/160% "Noto Sans Japanese", sans-serif; }
  .entry .confirmation .mod_form_btn {
    margin: auto;
    max-width: 600px;
    position: relative; }
    .entry .confirmation .mod_form_btn .entry-btn {
      padding: 20px 10px;
      display: block;
      width: 100%;
      color: white;
      font: 400 18px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.8rem/160% "Noto Sans Japanese", sans-serif;
      letter-spacing: .125em;
      text-align: center;
      text-decoration: none;
      border: 1px solid transparent;
      background: #19b04b;
      position: relative;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .entry .confirmation .mod_form_btn .entry-btn:after {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
        right: 30px;
        width: 12px;
        height: 12px;
        border-top: 1px solid white;
        border-right: 1px solid white;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
      .entry .confirmation .mod_form_btn .entry-btn:hover {
        cursor: pointer; }
        .entry .confirmation .mod_form_btn .entry-btn:hover:after {
          right: 20px; }
    .entry .confirmation .mod_form_btn.filter:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(255, 255, 255, 0.5); }
  .entry .confirmation .confirmation_paper {
    font: 400 14px/160% "Noto Sans Japanese", sans-serif;
    font: 400 1.4rem/160% "Noto Sans Japanese", sans-serif; }
    .entry .confirmation .confirmation_paper .document a {
      color: #333; }

.contact {
  background: white; }
  .contact .agency-info .agency-link {
    margin: auto;
    max-width: 400px; }
    .contact .agency-info .agency-link a {
      padding: 20px 10px;
      display: block;
      width: calc(100% - 20px);
      color: white;
      font: 400 18px/160% "Noto Sans Japanese", sans-serif;
      font: 400 1.8rem/160% "Noto Sans Japanese", sans-serif;
      letter-spacing: .125em;
      text-align: center;
      text-decoration: none;
      border: 1px solid transparent;
      background: #19b04b;
      position: relative;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .contact .agency-info .agency-link a:after {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
        right: 30px;
        width: 12px;
        height: 12px;
        border-top: 1px solid white;
        border-right: 1px solid white;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
      .contact .agency-info .agency-link a:hover:after {
        right: 20px; }
  .contact .agency-info .agency-phone {
    text-align: center; }
    .contact .agency-info .agency-phone p {
      font: 400 20px/160% "Noto Sans Japanese", sans-serif;
      font: 400 2rem/160% "Noto Sans Japanese", sans-serif; }
      .contact .agency-info .agency-phone p .phone-number {
        color: #333;
        font: 400 28px/160% "Noto Sans Japanese", sans-serif;
        font: 400 2.8rem/160% "Noto Sans Japanese", sans-serif;
        font-family: 'Lato', sans-serif;
        -webkit-transition: all .2s ease;
        transition: all .2s ease; }
        .contact .agency-info .agency-phone p .phone-number:hover {
          opacity: 0.70; }

.entry-prepare {
  background: white;
  text-align: center; }
  .entry-prepare .prepare-txt {
    padding: 5px 40px;
    display: inline-block;
    font: 400 18px/160% "Noto Sans Japanese", sans-serif;
    font: 400 1.8rem/160% "Noto Sans Japanese", sans-serif;
    font-weight: 600;
    letter-spacing: .125em;
    border: 3px solid #ddd; }

/* =====================
  preloader
===================== */
[data-loading] {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10000000; }
  [data-loading] > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
/*# sourceMappingURL=common.css.map */